<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masterproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterProject">
        <activity
            android:name=".SettingsFR"
            android:exported="false" />
        <activity
            android:name=".FaqFR"
            android:exported="false" />
        <activity
            android:name=".CallDeskFR"
            android:exported="false" />
        <activity
            android:name=".WayfinderFR"
            android:exported="false" />
        <activity
            android:name=".MainActivityFR"
            android:exported="false" />
        <activity
            android:name=".Wayfinder"
            android:exported="false" />
        <activity
            android:name=".Faq"
            android:exported="false" />
        <activity
            android:name=".CallDesk"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>